html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
.center{margin: 0 auto;display: block;}
*{ margin: 0; padding: 0; border: 0; }
a,a:hover,a:active{text-decoration: none;color: none}
p{font-family: 'Source Sans Pro';font-size: 14px}
h1{font-family: 'allerregular';font-size: 25px;color:#ff9900;}
h2{font-family: 'allerregular';font-size: 45px;color:#ab8636; text-align: center;margin-bottom: 50px}
h3{font-family: 'allerregular';font-size: 40px;color:#fff;}
h4{padding-top: 6px; padding-left: 15px;font-family: 'allerregular';color: #397272;}
h5{font-family: 'Source Sans Pro',sans-serif;padding: 5px 0;font-size: 16px;font-weight: 600}
h6{ font-size:25px;font-family: 'allerregular';color: #00B2B8;}
.triangulo{ width: 0; height: 0;border-top: 20px solid #cccccc;  border-left: 20px solid transparent; position: absolute; margin-top: 60px; margin-left: -20px}
/*Home*/
.togglebtn li{border: 1px solid #fff; padding: 5px 10px}
#men{width: 100%; height: 65px; background: #00B2B8;border-bottom: 3px solid #336666;z-index: 9999}
#men img{position: absolute; margin-top: 1px;z-index: 9999}
#menu{float: right;padding-top: 25px;margin-right: 80px}
.espacio p{margin-left: 121px}
.liston{background: #00B2B8;height: 560px; width: 260px;margin-left:65%;position: absolute;z-index: 999}
.flecha-down {
    width:0px;
    height:0px;
    border-left:130px solid transparent; /* izquierda flecha */
    border-right:130px solid transparent; /* derecha flecha */
    border-top:130px solid #00B2B8; /* base flecha y color*/
    font-size:0px;
    line-height:0px;z-index:10;
position: absolute;margin-top:-8px}
.black{ background-color: rgba(0, 0, 0, 0.5);height: 80px; margin-top:350px; position: absolute;width: 100%}
.lblanco{background-color: #fff;height: 30px;width: 250px; position: absolute;margin-top: 30px;margin-left: -20px}
.nosotros{padding-top: 80px;padding-bottom: 80px}
.nosotros h1{margin-bottom: 25px}
.nosotros p{color: #555;margin-bottom: 10px}
.promos{background-color:#ededed;padding-top: 60px;padding-bottom: 100px;height: 400px;border: 1px solid #d5d5d5 }
.testimonio{padding: 100px 0}
.testm{;font-family: 'Source Sans Pro' ;font-style:italic;font-weight: 400;font-size: 15px;padding-top: 15px;color: #333}
/*FORMULARIO*/

form{padding-top: 80px; display: block;padding-left: 20px}
input[type="text"],input[type="number"] {height: 24px; width: 200px; margin-bottom: 10px; border: solid 1px #ccc; padding: 2px 5px}
input[type=radio]{ display: none}
input[type=radio] + label {display: inline-block;cursor: pointer;position: relative;padding-left: 25px;margin: 10px 10px 15px 10px;font-size: 13px;color: white;font-family: 'allerregular'}
input[type=radio] + label:before {content: ""; display: inline-block; width: 15px; height: 15px; margin-right: 10px; position: absolute; left: 0; bottom: 1px; background-color: #fff; border: 1px #cfcfcf solid;}
.radio label:before {border-radius: 50%}
input[type=radio]:checked + label:before {content: "\2022";color: #cfcfcf;font-size: 25px;text-align: center;line-height: 18px}
form p{color: white;margin-bottom: 10px}
label{color: white;font-family: 'allerregular';font-size: 13px}
form button,button,.botoncot{cursor: pointer;background-color: #ff9900;color:white;font-family: 'allerregular';font-size: 18px; height: 40px; width: 200px;border-bottom: 3px solid #cc6600;padding-top: 3px; margin: 15px 12px; display: block; }
form button:hover,button:hover,.botoncot:hover{cursor: pointer;border-bottom: 2px solid #cc6600;padding-top: 5px;  }
.botoncot{text-align: center;}
.date1{height: 24px; width: 150px; margin-bottom: 10px; border: solid 1px #ccc; padding: 2px 5px;margin-left: 25px}
.date2{height: 24px; width: 150px; margin-bottom: 10px; border: solid 1px #ccc; padding: 2px 5px;margin-left: 6px}

/*PROMOCIONES*/
.promo1{  background:url(../images/1.jpg);background-size:cover;overflow:hidden;}
.promo2{  background:url(../images/2.jpg);background-size:cover;overflow:hidden;}
.promo3{  background:url(../images/3.jpg);background-size:cover;overflow:hidden;}
.promo4{  background:url(../images/4.jpg);background-size:cover;overflow:hidden;}
#overlay{ cursor: pointer; background:rgba(0,0,0,.75);text-align:center;height:300px;opacity:0;-webkit-transition: opacity .25s ease;-moz-transition: opacity .25s ease;}
.text{text-align: left;color:rgba(255,255,255,1);padding: 70px 20px 0 20px}
.text p{font-family: 'allerregular';font-size:15px}
.blue{cursor:pointer;background-color: rgba(0,178,184,0.8);height: 60px;width: 200px;z-index: 9999;position: absolute;margin-top: -80px;color: white;font-family: 'Source Sans Pro',sans-serif;padding: 10px;font-size: 20px}
.promo1:hover #overlay,.promo2:hover #overlay,.promo3:hover #overlay,.promo4:hover #overlay {opacity:1}

/*FOOTER*/
footer a,.grey a{color: #f1f1f1;}
footer a:hover,.grey a:hover{color: #999}
footer .imagen{width: 40px;display: inline;float: left}
.imagen img{padding-top: 10px}
footer{color:#f1f1f1;padding-top: 40px;width: 100%; height: 250px;background-color: #333333;border-top: 1px solid #000;font-family: 'Source Sans Pro';font-size: 14px}
footer ul li{list-style: none;font-weight: 400}
.grey ul li{list-style: none;font-weight: 400;font-family: 'Source Sans Pro';display: inline;font-size: 13px}
footer ul{font-weight: 600}
.grey{background-color: #444;height: 50px;padding:25px 0 0 0;text-align: center;color: white}
.grey p{padding-bottom: 10px}
.center img{margin: 0 auto; display: block;padding-top: 30px;padding-bottom: 10px}
.center{text-align: center;}
/*slider*/
.slider ul li{list-style: none}
.slider {position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 0;
  padding:0;
  z-index: 99;box-shadow: 2px 4px 10px 0px rgba(119, 119, 119, 0.32);
-moz-box-shadow: 2px 4px 10px 0px rgba(119, 119, 119, 0.32);
-webkit-box-shadow: 2px 4px 10px 0px rgba(119, 119, 119, 0.32);}

.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;}

.slide {
  height: 100%;
  float: left;
  clear: none;
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider-arrow--right {
  bottom: 50%;
  right: 30px;
}

.slider-arrow--left {
  bottom: 50%;
  left: 30px;
}

.slider-nav {
  position: absolute;
  bottom: 30px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  border-radius: 50%
}

.slider-nav__item:hover {
  background: #ccc;
}

.slider-nav__item--current {
  background: #ccc;
}
	.box {
				width: 100%;
				height: 100%;}

/*RESPONSIVE MENU*/
#menu{padding-top: 25px;}
#menu a{ font-family: 'allerregular'; font-size: 15px;color: white}
#men ul li{display: inline;list-style: none;margin-left: 40px;}
#men a:hover{cursor:pointer;color:#fdf6af;}

.slicknav_menu {
  display:none;
}

@media screen and (max-width: 780px) {
  .js #menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }
}
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em;  }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
    margin: 20px 5px 6px 340px;
    text-decoration:none;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;

}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: white;
}
.slicknav_menu {
    padding:5px;background: #00B2B8;

}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;    font-family: 'allerregular';
    font-size: 16px;text-align: center;border-bottom: rgba(255,255,255,0.3) 1px solid
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {

    color:#fdf6af;
}
.slicknav_nav a:hover{
    color:#fdf6af;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}
.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;}

/*NOSOTROS*/
.contacto{background: url(../images/contacto.jpg)}
.servicios{background: url(../images/servicios.jpg)}
.premium{background: url(../images/premium.jpg); height: 350px;width: 100%;padding-top: 200px;border-bottom: 4px solid #00B2B8;margin-bottom: 70px}
#largeimage{ height: 350px;width: 100%;padding-top: 200px;border-bottom: 4px solid #00B2B8;margin-bottom: 70px}
.hnos{background: url(../images/nosotros.jpg)}
.hnos h3,.premium h3,.servicios h3,.contacto h3{width:650px;font-size: 50px; background: rgba(0,0,0,0.6);text-align: center;border: 3px white solid;padding: 10px;margin: 0 auto;display: block}
.main h6,.main2 h6{margin: 30px 0}
.main p,.main2 p{margin-bottom: 10px;text-align: left;color: #555;font-size: 13px;width: 400px}

.main{height: 600px}
.main2{height: 350px}

#div4 ul li,.main ul li{list-style: none;padding-top: 10px}
.main2 ul li{padding-top: 10px}
#div4 ul,.main ul,.main2 ul {padding-top: 10px}
#div3 img{margin: 0 auto;display: block;padding-top: 5px}
#div4 img{padding-right: 3px}
#div4 img,#div4 p,.main img,.main p,.main2 img,.main2 p{display: inline-block}
#div2,#div3,#div4{display:none; }
.botones ul li{cursor: pointer;list-style: none;display: inline;}
.circle{height: 100px;width: 100px;border-radius: 50%;background: #CCC;display: inline-block}

/*slider*/
.blacks{background: rgba(0,0,0, .4); width: 100%;height: 120px;position: fixed;margin-top: 350px;padding: 20px 200px}
.b{width: 100%;height: 120px;position: fixed;margin-top: 350px;padding: 20px 200px}
.blacks h3,.b h3{font-size: 50px}
.blacks button,.b button{margin-left: 360px;position: fixed;}
.slider2 ul li{list-style: none}
.slider2 {position: relative;
  height: 550px;width: 100%;border-bottom: 4px solid #00B2B8;margin-bottom: 70px;
  overflow: hidden;

  z-index: 99}

.slides2 {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;}

.slide2 {
  height: 100%;
  float: left;
  clear: none;
}
.con h1{text-align: center; padding-top: 100px}
.tittle h3{z-index:99999;position: absolute;width:700px;font-size: 50px; background: rgba(0,0,0,0.7);text-align: center;border: 3px white solid;padding: 10px;margin: 200px 100px}
.mainpromo p{margin: 10px 0;text-align: left;color: #555;font-size: 13px;height: auto}
.info{border: 1px solid #ccc;margin-bottom: 100px}
.infohead{height: 50px;width: 100%;background: #333}
.infohead h6{color:#fff;padding: 10px;text-align: center;}
.infotit img,.infotit p{display: inline-block}
.infotit img{padding: 10px 15px 0 15px;position: absolute;}
.infotit p{margin-top: 12px;margin-left:0px;font-size: 15px}
.infotit {border-bottom: 1px solid #ccc;margin: 15px 5px 10px 5px;font-weight:600}
.info p{padding: 0 50px}
.info ul {padding: 0 20px 0 50px;font-family: 'Source Sans Pro';font-size: 14px;color: #555}
.flecha  {list-style-image:url(../images/arrow.png);padding-top: 5px;padding: 0 20px 0 50px;font-family: 'Source Sans Pro';font-size: 14px;color: #555}
.flecha li{margin-top: 10px}
.info h4{color: #555;margin: 20px 0 10px 0}
.info h3{color: #555;margin: 10px 0;font-size: 35px;text-align: center;}
.info button.botoncot{cursor: pointer;background-color: #ff9900;color:white;font-family: 'allerregular';font-size: 18px; height: 50px; width: 250px;border-bottom: 3px solid #cc6600;padding-top: 3px; margin: 35px auto 25px auto; display: block; }
.info button:hover{cursor: pointer;border-bottom: 2px solid #cc6600;padding-top: 5px;  }
.terms p{padding: 0px 20px;font-size: 12px;line-height: 130%;color: #777}
.terms{margin-bottom: 30px}
.promo table{border-collapse: collapse;margin: 30px 0px;border:1px solid #ccc;width: 500px;font-family: 'Source Sans Pro';font-size: 14px;color: #555}
.promo .tablehead {background: #333;color:white;font-family: 'allerregular';font-size: 18px; border-collapse: collapse;margin: 0 }
.color{width: 5px}
.promo td{padding: 10px}
.blue1{background: #3d7273;padding: 0px;border: none }
.blue2{background: #61b1b3;padding: 0px;border: none }
td{border-bottom:1px solid #ccc; }
.promo th{padding: 10px}
.promo{padding-top: 30px}

/*SERVICIOS*/
.serv img{ margin: 20px auto;display: block;}
.serv h6{text-align: center;margin: 10px 0;font-size: 22px}
.serv p{margin: 10px auto;display:block;text-align: left;color: #555;font-size: 13px;height: auto;padding: 0 10px}
.cont {padding: 30px 0;}
.cont input{height: 40px;width: 400px;border-radius: 1px;background: #f1f1f1;color: #999;display: block;}
textarea{padding:10px;height: 150px;width: 390px;border-radius: 1px;background: #f1f1f1;color: #999;display: block;border: 1px solid #ccc}
textarea, input, button { outline: none; }
.cont button{height: 45px; margin-left: 210px;margin-bottom: 80px}
.serv.marg{height: 450px;}
/*PREMIUM*/
.gris{background-color:#ededed;padding-top: 60px;padding-bottom: 100px;height: auto;border: 1px solid #d5d5d5 ;margin: 100px 0 50px 0;}
.accordion{background: #fff}
.accordion div{padding: 10px;background-color: #444;border: 1px solid #f1f1f1;border-radius: 5px 5px 0 0 ;}
.accordion .content{border-radius: 0;}
.accordion h6{color: #fff;padding: 10px;display: inline}
.accordion img{display: inline;float: right;}
.accordion .content{background-color: #fff;padding-bottom: 30px}
.gris h6{margin-bottom: 10px}
.gris h2,.blanc h2{text-align: left;font-size: 35px;margin-bottom: 10px}
.tipo img{margin: 0 auto;display: block;margin: 30px 0 0 0}
.tipo p{padding: 0px;margin: 20px 0}
.blanc{height: auto;margin-bottom: 100px}




.top{background-color: #00B2B8;color: #fff; font-family: 'allerregular'; font-size: 20px;float: right;width: 100%;height: 40px}
.top img{float: right; width: 20px;height: 20px;margin-top: 10px;margin-right: 10px;cursor: pointer;}

/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:9999;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 350px;
  background: #fff;
  border: 1px solid #ccc;border-radius: 2px;    z-index:99999;
}


#loginform {  padding: 30px;margin: 0 auto;display: block;
 }

.logintittle h6{ margin: 30px 0 20px 0; border-bottom: 1px solid #ccc
 }
#loginform label { display: block; font-size: 14px;color: #333; margin-bottom: 3px; }
#loginform #password {margin:10px 0;height: 35px ;width: 250px;border-radius: 1px;background: #fff;color: #999;display: block;border: 1px solid #ccc;padding-left: 10px }
#loginform #username{margin:10px 0; height: 30px ;width: 245px;border-radius: 1px;background: #fff;color: #999;display: block;border: 1px solid #ccc;padding-left: 10px }
#loginform button {margin: 30px auto 0 auto; display: block;width: 220px}
.bot{margin-top: 30px;border-top:  1px solid #ccc;padding-top: 10px;font-family: 'allerregular'; color: #333;font-size: 14px}
.bot a{color:#ff9900;}
.bot a:hover{text-decoration: underline;}