html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
.center{margin: 0 auto;display: block;}
*{ margin: 0; padding: 0; border: 0; }
a,a:hover,a:active{text-decoration: none;color: none}
p{font-family: 'Source Sans Pro';font-size: 14px}
h1{font-family: 'allerregular';font-size: 35px;color:#fff;text-align: right;margin-top: 75px}
h2{font-family: 'allerregular';font-size: 45px;color:#ab8636; text-align: center;margin-bottom: 50px}
h3{font-family: 'allerregular';font-size: 40px;color:#fff;}
h4{padding-top: 6px; padding-left: 15px;font-family: 'allerregular';color: #397272;}
h5{font-family: 'Source Sans Pro',sans-serif;padding: 5px 0;font-size: 16px;font-weight: 600}
h6{ font-size:25px;font-family: 'allerregular';color: #00B2B8;}
.header{width: 100%;height: 150px;background: #00B2B8;border-bottom: 4px solid #FEF5AE}